@model Analystick.Web.Models.UserActivationErrorModel

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-danger">Error.</h2>
        <p class="text-danger">@Model.Message</p>
    </div>
</div>